<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img id="img" />
    <script>
      async function init() {
        const url = "http://0.0.0.0:5000/helloworld/q1";
        let res = await fetch(url);
        res = await res.json();
        console.log(res);
        document
          .getElementById("img")
          .setAttribute("src", `data:image/png;base64, ${res.photo}`);
      }
    </script>
  </body>
</html>
